@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Gabarito', sans-serif;
}

body {
    background-color: lightgrey;
}

main {
    background-color: ghostwhite;
    border-radius: 8px;
    padding: 15px;
    width: 90%;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.add-form {
    display: flex;
    margin-bottom: 50px;
    gap: 15px;
    width: 100%;
}

.input-add-task {
    width: 100%;
    flex: 1;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
}

.button-add-task {
    background-color: #0099FF;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
}

.btn-action {
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #FFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-action:nth-child(1) {
    margin-right: 5px;
    background-color: coral;
}

.btn-action:nth-child(2) {
    background-color: red;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 10px 15px;
    border: 1px solid #DDD;
    text-align: center;
}

td {
    color: #333;
    font-weight: 300;
}

tr:nth-child(even){
    background-color: #F5F5F5;
}

select {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #ebebeb;
}

select:hover {
    background-color: #DDD;
}